/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'fastqc' {
            args = "--quiet"
        }
        'multiqc' {
            args = ""
        }
        'picard/sortsam_parsed' {
            publish_files = null
            publish_dir = "bam"
        }
        'picard/sortsam_co' {
            publish_files = 'false'
            suffix = ''
        }
        'picard/sortsam_qry' {
            publish_files = 'false'
            suffix = '.unprocessed_query_sorted'
        }
        'picard/markduplicates' {
            publish_dir = "."
            publish_files = ["bam":'bam',
                             "txt":'reports']
        }
        'picard/collectmultiplemetrics' {
            publish_dir = "."
            publish_files = ["CollectMultipleMetrics":'reports']
        }
        'bwa/mem' {
            args = ""
            publish_files = false
        }
        'bwa/index' {
            args = ""
            publish_files = false
        }
        'bedtools/sort' {
            args = ""
            publish_files = null
            publish_dir = "bed"
        }
        'bedtools/makewindows' {
            args = "-w 100"
            publish_files = "false"
        }
        'samtools/index' {
            args = ""
            publish_files = null
            publish_dir = "bam"
        }
        'samtools/idxstats' {
            args = ""
            publish_files = null
            publish_dir = "reports"
        }
        'samtools/view' {
            publish_files = false
        }    
        'ucsc/bedgraphtobigwig' {
            publish_dir = "bigwig"
            publish_files = null
        }
        'phantompeakqualtools'{
            publish_dir = "reports"
            publish_files = null
        }
        'trimgalore' {
            args = "-q 10 --stringency 6 --length 25"
            clip_r1                    = "0"
            clip_r2                    = "0"
            three_prime_clip_r1        = "0"
            three_prime_clip_r2        = "0"
            //publish_files = false
            publish_dir = '.'
            publish_files = ['trimming_report.txt':'reports']
        }
        'deeptools/plotfingerprint' {
            args = '--minMappingQuality 30 --skipZeros --smartLabels -n 2000000'
            publish_files = null
            publish_dir = 'reports'
        }
        'parse_ssds_bam' {
            args = ""
            publish_dir = '.'
            publish_files = ['SSDS_parse_report.txt':'reports']
        }
        'get_spot_intervals' {
            args = ""
            publish_dir = '.'
            publish_files = ['bed':'spot_intervals']
        }
        'calculatespot' {
            args = ""
            publish_dir = '.'
            publish_files = 'false'
        }
    }
}
