/*
========================================================================================
    Config file for defining SSDS intervals defined in previous work
========================================================================================
*/
params {
    ssds_interval_beds {
        sarscov2 = [[id:"test1"            , bed:"https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/bed/test.bed"],
                    [id:"test2"            , bed:"https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/bed/test2.bed"]]

        mm10     = [[id:"HS_13R"           , bed:"${baseDir}/ssds_interval_beds/mm10/hotspots/13R_hotspots_male.bed"],
                    [id:"HS_B6"            , bed:"${baseDir}/ssds_interval_beds/mm10/hotspots/B6_hotspots_male.bed"],
                    [id:"HS_B6_fem"        , bed:"${baseDir}/ssds_interval_beds/mm10/hotspots/B6_hotspots_female.bed"],
                    [id:"HS_CAST"          , bed:"${baseDir}/ssds_interval_beds/mm10/hotspots/CAST_hotspots_male.bed"],
                    [id:"HS_MOL"           , bed:"${baseDir}/ssds_interval_beds/mm10/hotspots/MOL_hotspots_male.bed"],
                    [id:"HS_PWD"           , bed:"${baseDir}/ssds_interval_beds/mm10/hotspots/PWD_hotspots_male.bed"],
                    [id:"HS_B6PRDM9ko"     , bed:"${baseDir}/ssds_interval_beds/mm10/hotspots/B6Prdm9ko_hotspots_male.bed"],
                    [id:"Ori_testis"       , bed:"${baseDir}/ssds_interval_beds/mm10/origins/B6testis_origins_male.bed"],
                    [id:"Ori_ESCs"         , bed:"${baseDir}/ssds_interval_beds/mm10/origins/B6ESC_origins_male.bed"]]
        
        rn5      = [[id:"HS_SR"            , bed:"${baseDir}/ssds_interval_beds/rn5/hotspots/SR_hotspots_male.bed"],
                    [id:"HS_WKY"           , bed:"${baseDir}/ssds_interval_beds/rn5/hotspots/WKY_hotspots_male.bed"],
                    [id:"HS_BN"            , bed:"${baseDir}/ssds_interval_beds/rn5/hotspots/BN_hotspots_male.bed"],
                    [id:"HS_SRPrdm9ko"     , bed:"${baseDir}/ssds_interval_beds/rn5/hotspots/SRPrdm9ko_hotspots_male.bed"]]
       
        hg38     = [[id:"HS_PRDM9A"        , bed:"${baseDir}/ssds_interval_beds/hg38/hotspots/PRDM9A_hotspots_male.bed"],
                    [id:"HS_PRDM9C"        , bed:"${baseDir}/ssds_interval_beds/hg38/hotspots/PRDM9C_hotspots_male.bed"],
                    [id:"HS_AB_het"        , bed:"${baseDir}/ssds_interval_beds/hg38/hotspots/ABhet_hotspots_male.bed"],
                    [id:"HS_AC_het"        , bed:"${baseDir}/ssds_interval_beds/hg38/hotspots/AChet_hotspots_male.bed"],
                    [id:"HS_AN_het"        , bed:"${baseDir}/ssds_interval_beds/hg38/hotspots/ANhet_hotspots_male.bed"],
                    [id:"HS_CL4_het"       , bed:"${baseDir}/ssds_interval_beds/hg38/hotspots/CL4het_hotspots_male.bed"],
                    [id:"Ori_testis"       , bed:"${baseDir}/ssds_interval_beds/hg38/origins/hiconf_origins.hg38.bed"],
                    [id:"Ori_K562"         , bed:"${baseDir}/ssds_interval_beds/hg38/origins/K562_Origins_ORC2ChIPSeq.hg38.bed"]]
        }
    }
